body {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: sans-serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

button {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  padding: 5px 40px;
  font-size: 24px;
  cursor: pointer;
  letter-spacing: 2px;
  margin: 0 10px;
}

button:hover {
  background-color: #000;
  color: #fff;
}

button:visited {
  outline: 0;
}

button.active {
  color: rgb(167, 16, 255);
  border: 2px solid rgb(167, 16, 255);
}

button.active:hover {
  background-color: rgb(167, 16, 255);
  color: #fff;
}

.container {
  margin: 10em auto;
  text-align: center;
  display: block;
}